<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UserManegment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Usermanegment</display-name>
    <servlet-name>Usermanegment</servlet-name>
    <servlet-class>usermanegment.Usermanegment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usermanegment</servlet-name>
    <url-pattern>/Usermanegment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>controller.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListservlet</display-name>
    <servlet-name>UserListservlet</servlet-name>
    <servlet-class>controller.UserListservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListservlet</servlet-name>
    <url-pattern>/UserListservlet</url-pattern>
  </servlet-mapping>
</web-app>