a:link { color: #0000ff; }
a:visited { color: #ff0000; }
a:hover { color: #ff00000; }
a:active { color: #ff0000; }
.C{
	text-align:center;
}
.dl { display: table-cell; text-align: left; width:7em;}
.dc { display: table-cell; text-align: center; }
.dr { display: table-cell; text-align: right; }
.dimgray{
	background-color:#808080;
}
.R{
	text-align:right;
}

.L{
	text-align:leght
}

.j{
	text-align:justify;
}

.hyou {border:1 ;bgcolor:"#c0c0c0" ;width:500 ;cellspacing:0 ;cellpadding:0 ;aling:center;}

.input-group{
	display: inline-block;
	min-width:50%;
}

.red{background-color:red; color:#FFFFFF }
.blue{background-color:#33CCFF; color:#FFFFFF }
.green{background-color: #66FF33; color:#FFFFFF}
.gray{background-color:#c0c0c0}
.tl{margin-left:auto;}
.tab{border:solid 1px; margin:auto;}
.tab td, .tab th{border: solid 1px;}
.tablem{border:"1"; bgcolor:"#c0c0c0"; aling:center;}
.sell{margin-left: auto; margin-right: auto;}